* { box-sizing: border-box }

html {
    scroll-behavior: smooth;
}

body {
    margin: 0; /* tek út sjálgefið 10px margin */
    /* font-family: ;*/
    font: 400 1em/1.5 'Open Sans', sans-serif; /* samsett skipun: weight/height, size, family */
    background-color: #0063B2FF
}
h1 {
    font-weight: 300;
    font-size: 2.5em;
}

blockquote {
    background-color: rgba(177, 205, 218, .5);
    padding: 1em;
}

.headcolor, .footcolor {
    color: #fff;
}

.h4color h4 {
    color: #9CC3D5FF;
}
.bground2 h1 {
    color:  rgb(2, 88, 158);
}

.bground2 {
    background-image: linear-gradient(to bottom,#9CC3D5FF, rgb(217, 228, 233));
    padding:1em;
}

.bground3 {
    padding:1em;
}

.vheight {
    height: 100vh;
}

.container {
    max-width: 60em; /*960px = fartölvur*/
    margin: 0 auto; /* top+bottom og left+right */
    padding: 0;
}

.pad {
    padding-top: 7.8em;
}

.alignC {
    padding-right: 2.5em;
    white-space: nowrap;
}

.svg {
    padding-top: 4em;
}

.topbutt  {
    display: block;
    position: fixed;
    bottom: 2em;
    right: 2em;
    border-radius: 100%;
    padding: 0 .45em;
    text-decoration: none;
    font-size: 2em;
    color: darkblue;
    border: 2px solid darkblue;
    background-color: rgb(253, 253, 161);
}
/* grid */
.col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.col-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.col-4 {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.gap-4 {
    grid-gap: 4em
}

.headcolor h1 {
    margin: 2em 0 1em 0
}

.headcolor p {
    text-align: right;
}

.headcolor h1 {
    color: #9CC3D5FF
}
.topnav a,
.footnav a {
    color: #fff;
    text-decoration: none;
}

.topnav a:hover,
.footnav a:hover {
    color: #9CC3D5FF;
}

.topnav {
    margin-top: 4em;
}

.footnav {
    padding: 0;
}

.footnav li {
    list-style-type: none;
    line-height: 2;
}

.topnav a {
    padding-left: 2em;
}

.innermenu {
    display: flex;
    flex-flow: column;
    margin-left: 12em;
    margin-top: 2em;
    margin-bottom: -5em;
    padding-bottom: 6em;
    padding-left: 10em;
}

.innermenu a {
    border-bottom: 1px solid #9CC3D5FF;
    text-decoration: none;
    color: #9CC3D5FF;
    padding: 0.5em 1em;
    text-align: right;
}

.innermenu a:hover,
.innermenu a:active {
    color: #9CC3D5FF;
    background-color: rgb(17, 131, 184);
}

.innermenu a:last-child {
    border: 0;
}

.marginbottom {
    margin: 0.5em 0 -1em 0;
}

.copy {
    color: #9CC3D5FF;
    text-align: center;
}