* {
        box-sizing: border-box; /*padding og border gildi leggjast inní heildarbreidd * allra taga í html skjalinu */
}

body {
    margin: 0 auto;
    max-width: 60em; /* 960px - 1080 - fartölvuskjár */
    background-color: rgb(121, 121, 168);

}

h1 {
    font-size: 3em;
}

.as1 h3 {
    color: rgb(10, 65, 75);
}

h1, h2, h3 {
    font-family: 'Be Vietnam', sans-serif;
}

.art1 h2 {
    color: black;
}
/* -- GRID AREA -- */
.haus {
    grid-area: haus;
    text-align: center;
    background-color: rgb(103, 103, 143);
}

.topnav {
    grid-area: topnav;
}

.main {
    grid-area: main;
    background-color: #D7D9CE;
}

.foot {
    grid-area: foot;
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

/* -- dálkar í main -- */
.as1 {
    grid-area: as1;
    background-color: rgb(190, 202, 221);
    margin-right: -2em;
    padding-right: 0.5em;
    padding-left: 0.5em;
}

.as2 {
    grid-area: as2;
    background-color: #BFCDE0;
    margin-left: -2em;
    margin-right: -2em;
    padding-left: 1em;
}

.art1 {
    grid-area: art1;
    background-color: #BFCDE0;
    margin-left:-2em;
    padding: 1em;
}

/* -- Template Area -- */
.body {
    display: grid;
    grid-template-areas:
        "haus"
        "topnav"
        "main"
        "foot"
}

/* -- innri tög í main -- */
.main {
    display: grid; /* verður að vera hér grid virkar á barn en ekki barnabarn */
    grid-gap: 0em;
    grid-template-areas:
    "art1 art1 as1 as1"
    "as2 as2 as2 as2";
    grid-template-columns: 1fr 3fr 1fr;
    padding: 0 2em;
}

/* -- Top Menu -- */
.topmenu , .foot {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    margin: 0;
    padding-left: 1em 0;
    background-color: rgb(61, 52, 87);
    color: #BFCDE0;
}

.topmenu li, .footmenu {
    list-style-type: none;
    padding: 1em;
}

.foot a,
.topmenu a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #BFCDE0;
}


/* vinnugögn 
.haus, .main, .art1, .as1, .as2, .foot {
    border: 1px dotted blue;
}*/
