* {
        box-sizing: border-box; /*padding og border gildi leggjast inní heildarbreidd * allra taga í html skjalinu */
}

body {
    margin: 0 auto;
    max-width: 60em; /* 960px - 1080 - fartölvuskjár */
}

/* -- GRID AREA -- */
.haus {
    grid-area: haus;
    text-align: center;
}

.topnav {
    grid-area: topnav;
}

.main {
    grid-area: main;
}

.foot {
    grid-area: foot;
    display: grid;
    grid-template-columns: repeat(4, 25%)
}

/* -- dálkar í main -- */
.as1 {
    grid-area: as1;
    border-right: 1px solid blue;
    padding-right: 1em;
}

.as2 {
    grid-area: as2;
    border-left: 1px solid blue;
    padding-left: 1em;
}

.art1 {
    grid-area: art1;
    padding-left: 1em;
}

/* -- Template Area -- */
.body {
    display: grid;
    grid-template-areas:
        "haus"
        "topnav"
        "main"
        "foot"
}

/* -- innri tög í main -- */
.main {
    display: grid; /* verður að vera hér grid virkar á barn en ekki barnabarn */
    grid-gap: 0em;
    grid-template-areas:
        "as1 art1 as2";
    grid-template-columns: 1fr 3fr 1fr;
    padding: 0 2em;
}

/* -- Top Menu -- */
.topmenu , .foot {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    margin: 0;
    padding-left: 1em 0;
    background-color: #ddd;
}

.topmenu li, .footmenu {
    list-style-type: none;
    padding: 1em;
}

/* vinnugögn 
.haus, .main, .art1, .as1, .as2, .foot {
    border: 1px dotted blue;
}*/